<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>

<body>
<th:block th:replace="fragments/header"></th:block>


<div id="listContainer" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>목록</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="bbs : ${bbsList}">
            <td th:text="${bbs.id}">Id</td>
            <td><a th:href="@{${bbs.link}}" th:text="${bbs.title}">Titlte</a></td>
            <td th:text="${bbs.userInfo.name}">Name</td>
            <td th:text="${bbs.hits}">Hits</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="col-md-4 right">
    <a id="preWrite" class="btn btn-default btn-lg btn-block" role="button">글쓰기</a>
  </div>

</div>


<div id="writeContainer" class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>글 작성</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <form>
      <div class="form-group">
        <label for=>제목</label>
        <input id="title" class="form-control"  placeholder="제목">
      </div>
      <div class="form-group">
        <label >내용</label>
        <textarea id="content" class="form-control"  rows="5"></textarea>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <a id="write" class="btn btn-default btn-lg btn-block" role="button">글쓰기</a>
      <a id="writeCancel" class="btn btn-default btn-lg btn-block" role="button">글 목록</a>
    </div>
  </div>


</div>

<th:block th:replace="fragments/footer"></th:block>
<script type="module" src="../../bbs/js/apps_list.js"></script>
</body>
</html>


