<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head.html :: head"></head>

    <body>
        <th:block th:replace="fragments/header"></th:block>

        <div class="container">
            <div class="jumbotron text-center">
                <h1>손절 노노</h1>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>카카오</h3>
                            <p>~~~</p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>삼성전자</h3>
                            <p>~~~</p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>씨에스윈드</h3>
                            <p>~~~</p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <th:block th:replace="fragments/footer"></th:block>
    </body>
</html>